{% extends 'base_template.html' %}
{% load my_filters %}
{% load static %}

{% block content %}

    <div class="project-create_wrapper">

        <div class="project-header project-edit_header">
            <h3>> EDIT_PROJECT</h3>
            {% if object.user.pk == request.user.pk %}
                <a href="{% url 'accounts:project-delete' pk=request.user.pk slug=project.slug %}" class="form-btn delete-btn">delete_project()</a>
            {% else %}
                <div class="hidden"></div>
            {% endif %}
        </div>

        <div class="project-create profile-info">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input_wrapper"><span>> project_name <span class="info-highlight_p">-></span></span> {{form.title}}</div>
                <div class="input_wrapper"><span>> project_description <span class="info-highlight_p">-></span></span> {{form.description}}</div>
                <div class="input_wrapper"><span>> source_code_url <span class="info-highlight_p">-></span></span> {{form.source}}</div>
                <div class="input_wrapper"><span>> images <span class="info-highlight_p">-></span> (ctrl+click)</span> <input type="file" class="imgs" id="imgs" name="imgs" accept="image/*" lang="en-GB" multiple></div>
                {% for field, errors in form.errors.items %}
                    {% for error in errors  %}
                        <div class="form-error"> <span class="form-error_highlight">[!]</span> {{error}}</div>
                    {% endfor %}
                {% endfor %}

                <div class="form-imgs_wrapper">
                    {% for img in object.images.all %}
                        <div class="form-img_item">
                            <img src="{{img.image.url}}" class="form-img">
                            <a href="{% url 'accounts:project-delete-img' pk=request.user.pk slug=img.project.slug img_pk=img.pk %}"></a>
                        </div>
                    {% endfor %}
                    <img class="form-img img-hidden">
                    <img class="form-img img-hidden">
                    <img class="form-img img-hidden">
                </div>
                
                <button class="form-btn" type="submit">edit_project()</button>
            </form>

        </div>

    </div>

{% endblock content %}