@import url("auth.7cf862ae50f9.css");
@import url("profile.6d7fd75bdcaa.css");
@import url("project.7c37b1306c96.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400;8..144,600&family=Source+Code+Pro:wght@200;300;400;700&family=Titillium+Web:wght@300;400;600&display=swap');


.wrapper{
    min-height: 92vh;
    background-color: rgb(39, 39, 39);
}

header{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: #1f1f1f;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.logo{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    font-family: 'Titillium Web', sans-serif;
    color: #3bedb7;
    margin: 0;
    
}

nav{
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links{
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0px 15px;
    display: flex;
    align-items: center;
    transition: 0.25s;
}

.nav-links:hover{
    color: #3bedb7;
    transition: 0.25s;
}

.nav-image{
    width: 35px;
    height: 35px;
}

.nav-username {
    font-weight: 400;
    color: #3bedb7;
}